.Head {
    width: 100%;
    height: $navBar-height;
    background: $navBar-color;
    display: flex;
    justify-content: space-between;
    color:white;
    .Logo{
        height:100%;
    }

    .navRight{
        height:100%;
        display: flex;
        align-items: center;
    }
}